{#
/**
 * @file
 * Contains the text of the pager_example explanation page
 */
#}

<div class='examples-description'>
{% trans %}
    <p>Translation overview</p>
    <p>
    <table class="legend">
        <tr>
          <td>
              <div class="tmgmt-ui-icon tmgmt-ui-icon-10 tmgmt-ui-icon-white" title="Original language"><span></span></div>
          </td>
            <td>
                Original language
            </td>
        </tr>
        <tr>
            <td>
            <div class="tmgmt-ui-icon tmgmt-ui-icon-10 tmgmt-ui-icon-grey" title="Original language"><span></span></div>
            </td>
            <td>
                Not translated
            </td>
        </tr>
        <tr>
            <td>
            <div class="tmgmt-ui-icon tmgmt-ui-icon-10 tmgmt-ui-icon-green" title="Completed"><span></span></div>
            </td>
            <td>
                Complete
            </td>
        </tr>
    </p>
{% endtrans %}
</div>
